body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-strike, .text-strike input {
  text-decoration: line-through;
  font-style: italic;
}

body, html {
  height: 100%;
}

body {
  background-color: rgb(253, 246, 237) !important;
}

.container {
  padding-top: 24px;
}

.root {
  flex-grow: 1;
}

.right {
  margin-left: auto !important;
}